body{
    background-color: #e0e0dd;
}

h2{
    font-size: 1.5rem;
}
p{
    font-weight: bold;
    margin-bottom: .4rem;
}
img{
    width: 14rem;
    height: 10rem;
}
.include{
    margin: 0;
    color: #0d6efd;
    font-size: .8rem;
}

.oferta{
    background-color: white;
    width: 60vw;
    height: 25vh;
    padding: 0;
}

.score{
    height: 1.5rem;
}

.points{
    color: white;
    font-weight: bold;
    width: 2.5rem;
}

.price{
    margin: 0 0 1.5rem 1.5rem ;
    font-size: 1.5rem;
}

.hotel-price{
    padding: 0 .5rem 0 .5rem;
    height: 20vh;
}

.text{
    font-size: .85rem;
    font-weight: normal;
}

.hotel-info{
    width: 20vw;
    margin: 0 1.5rem 0 1.5rem;
}

.hotel-price:hover{
    background-color: rgba(7, 106, 227, 0.25);
}

.see-more{
    height: 2.2rem;
    width: 7rem;
    font-size: 1rem;
    color: white;
    font-weight: bold;
}
.container{
    margin: 0;
}

.margin-auto{
    margin: 0 auto;
    padding: 0;
}
.margin-auto1{
    margin: 0 auto;
}

  
@media (max-width: 992px) {

    iframe {
        display: none;
    }


    .filter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem; 
    }

    .filter > div {
        width: 100%;
        text-align: center;
    }

 
    .info {
        justify-content: center; 
        align-items: center; 
        text-align: center; 
    }

 
    .oferta {
        flex-direction: column; 
        align-items: center; 
        width: auto; 
        height: auto; 
    }

    .hotel-info, .hotel-price {
        margin: 0; 
        text-align: center; 
    }

    .margin-auto1 {
        margin: auto;
    }

}
